name: "Laba2_C++"

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

jobs:
  linux:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Install Boost
        run: |
          sudo apt-get update
          sudo apt-get install -y libboost-test-dev

      - name: Configure CMake
        shell: bash
        run: |
          VERSION=""
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF_NAME#v}"
          fi
          if [[ -n "${VERSION}" ]]; then
            cmake -B build -DPROJECT_VERSION_OVERRIDE="${VERSION}"
          else
            cmake -B build
          fi

      - name: Build Project
        run: cmake --build build

      - name: Run Tests
        run: ctest --test-dir build

      - name: Package Project
        run: cmake --build build --target package

      - name: Upload Ubuntu artifact
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-package
          path: build/*.deb

  macos:
    runs-on: macos-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Install Boost
        run: |
          brew install boost

      - name: Configure CMake
        shell: bash
        run: |
          VERSION=""
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF_NAME#v}"
          fi
          if [[ -n "${VERSION}" ]]; then
            cmake -B build -DPROJECT_VERSION_OVERRIDE="${VERSION}"
          else
            cmake -B build
          fi

      - name: Build Project
        run: cmake --build build

      - name: Run Tests
        run: ctest --test-dir build

      - name: Package Project
        run: cmake --build build --target package

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-package
          path: build/*.tar.gz

  release:
    if: |
      startsWith(github.ref, 'refs/tags/')
    needs: [linux, macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ubuntu-package
          path: release/

      - uses: actions/download-artifact@v4
        with:
          name: macos-package
          path: release/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          body: "Release for Linux and macOS"
          files: release/*
          token: ${{ secrets.GITHUB_TOKEN }}
